<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="서울복덕방"/>
    <meta property="og:description" content="서울지역 부동산 후기 공유 사이트 '서울복덕방'에 오신 것을 환영합니다"/>
    <meta property="og:image" content="{{ url_for('static', filename='land.png') }}"/>
    <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="static/index.css">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="static/index.js"></script>
    <title>복덕방-당신의 새로운 보금자리를 소개해줄 부동산을 찾아보세요</title>

</head>
<body>

<div class="wrap">


    <div class="nav">
        <div class="left">
            <h1 onclick="reload()">서울복덕방</h1>
        </div>
        <div class="right">
            <div class="search">
                <select class="form-control" id="order-count">
                    <option>구</option>
                    <option>동</option>
                    <option>부동산 이름</option>
                </select>
                <form onsubmit="return false">
                    <input class="form-control" id=keyword type="text" placeholder="키워드 입력 ">
                    <button class="btn btn-outline-success my-2 my-sm-0" type='button' onclick="showResult()">Search
                    </button>


                </form>
            </div>
        </div>


    </div>
    <div class="content">
        <div class="main">
            <div id="nodata">
                <h4>검색된 부동산이 없습니다!</h4>
                <img src="./static/house.png" alt="logo">
                <h2>서울지역 부동산 후기 공유 사이트 '서울복덕방'에 오신 것을 환영합니다
                    <br>부동산 검색 결과는 댓글 순으로 보여집니다 </h2>
            </div>

            <div id="landresult"></div>

        </div>
    </div>
    <footer>
        <p>Email : lhj5426@naver.com </p>
        <p>Copyright 2020. All rights reserved | Lee Hyeonji</p>

    </footer>
</div>

</body>
</html>