{% extends "layout.html" %}

<!-- content -->
{% block content %}
<h1 class="header">Sign In</h1>
<div class="body">
    <!-- ID -->
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text label">ID</span>
        </div>
        <input type="text" class="form-control" id="id" placeholder="please enter your id" aria-label="id"
               aria-describedby="id">
    </div>
    <!-- PW -->
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text label">PW</span>
        </div>
        <input type="password" class="form-control" id="pw" placeholder="please enter your password" aria-label="pw"
               aria-describedby="pw">
    </div>
</div>
<div class="footer">
    <!-- Sign In -->
    <button class="btn btn-primary sign-in" onclick="login()">Sign In</button>

    <!-- Sign Up -->
    <a class="sign-up" href="/register">Sign Up</a>
</div>
{% endblock %}

<!-- style -->
{% block style %}
<style>
    .header {
        text-align: center;
        margin-bottom: 32px;
    }

    .body {
        margin: 32px 0;
    }

    .sign-in {
        width: 100%;
        margin-bottom: 16px;
    }

    .footer {
        text-align: right;
    }

    .label {
        width: 50px;
        text-align: center;
        display: flex;
        justify-content: center;
    }
</style>
{% endblock %}

<!-- script -->
{% block script %}
<script>
    function login() {
        let id = $('#id').val()
        let pw = $('#pw').val()

        $.ajax({
            type: "POST",
            url: "/api/login",
            data: {id_give: id, pw_give: pw},
            success: function (response) {
                console.log(response)
                if (response['result'] === 'success') {
                    // jwt 토큰을 token_give이라는 키 값으로 쿠키에 저장
                    $.cookie('user', response['user'])
                    $.cookie('token_give', response['token'])
                    let nickname=response['user']
                    // console.log(document.cookie.split(';')[0].split('=')[1])
                    alert(nickname+'님 반갑습니다' +'Login Success 👍')
                    location.href = '/'
                } else {
                    // 로그인이 안되면 에러메시지를 띄웁니다.
                    alert(response['msg'])
                }
            }
        })
    }
</script>
{% endblock %}